@use './colors' as *;

@media (min-width: 1200px) {
	.navigation-box {
		.navigation {
			max-width: 1500px;
			left: 50%;
			transform: translateX(-50%);

			.burger-btn {
				display: none;
			}
			.company-name {
				margin: 2em;
				.line {
					display: block;
				}
				.icons {
					display: block;
				}
			}

			.nav.nav-desktop {
				right: 0;

				display: flex;
				position: absolute;
				color: white;
				margin-right: 6em;
				justify-content: center;
				align-items: center;

				.nav__link {
					text-decoration: none;
					color: $dark;
					font-size: 1.6rem;
					margin-top: 2em;
					margin: 2em 1em;
					display: flex;
					justify-content: center;
					align-items: center;

					&--four {
						color: $white;
						margin: 0;
						margin-left: 10px;
						height: 40px;
						width: 142px;
						font-weight: 600;
						border-radius: 10px;
						font-size: 1.5rem;
						background: rgb(0, 238, 174);
						background: linear-gradient(90deg, rgba(0, 238, 174, 1) 0%, rgba(129, 53, 255, 1) 100%);
					}
				}
			}
		}
	}

	.header {
		.container {
			margin-bottom: 3em;
			height: auto;
			flex-direction: row;
			border-radius: 50px;
			max-width: 1300px;
			width: 95vw;
			&__main-text {
				position: relative;
				flex-direction: column;
				margin-top: -1em;
				text-align: start;
				width: 600px;
				margin-bottom: 1.5em;
				margin-top: 2.5em;

				h2 {
					font-size: 5rem;
					width: fit-content;
				}

				.container__text {
					margin-top: 2em;
					// width: 45vw;
					justify-content: start;
					text-align: start;
					font-size: 2rem;
					margin-bottom: 1em;
					width: auto;
				}

				.container__btn {
					left: 0;
					font-size: 1.5rem;
					margin-left: 6.5em;
					border-radius: 10px;
					height: 45px;
					width: 200px;
					font-weight: 700;
				}
			}
			.container__img {
				position: absolute;
				margin: 5.5em;
				width: 290px;
			}
		}
	}

	///////////
	/// //////

	.main {
		.aboutus {
			&__main-text {
				font-size: 3.5rem;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			&__underline {
				width: 100px;
				height: 2px;
			}
			&__icons-box {
				flex-direction: row;

				.aboutus__icon {
					&-one {
						margin-right: 5em;
					}
					&-three {
						margin-left: 5em;
					}
					img {
						width: 240px;
					}
				}
			}
			&__text {
				p {
					font-size: 2rem;
					width: 750px;
					position: absolute;
					left: 50%;
					transform: translate(-50%);
				}
				margin-bottom: 10em;
			}
		}
	}

	section {
		justify-content: center;
		align-items: center;
		position: relative;

		.ourapp {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;

			&__gradient {
				display: flex;
				flex-direction: row;
				justify-content: start;
				align-items: start;
				margin: 4em;
				height: auto;
				width: 70vw;
				border-radius: 50px;
				margin-left: -10em;
				margin-left: -15em;

				padding-top: 6em;
				.ourapp__text-box {
					margin-top: 0.5em;
					margin-left: 2em;
					font-size: 1.6rem;

					h3 {
						font-size: 3.5rem;
						text-align: left;
						width: 400px;
					}
					.ourapp__text {
						text-align: left;
						margin-top: 2em;
						font-size: 1.6rem;
						width: 600px;
					}

					.ourapp__list {
						margin: 2em;
						margin-top: 3em;
						margin-left: 3.5em;
						font-size: 1.6rem;
						width: 590px;
						span {
							font-size: 2.3rem;
							width: 650px;
							margin-left: -3em;
						}
					}
					.fa-solid {
						display: flex;
						align-items: center;
						position: absolute;
						font-size: 3.2rem;
						margin-left: 0;
						&-one {
							margin-top: 1.4em;
						}
						&-two {
							margin-top: 0.35em;
						}
						&-three {
							margin-top: 0.25em;
						}
					}
					.nb {
						font-size: 1.7rem;
						&-one {
							left: 0.74em;
						}

						&-two {
							left: 0.64em;
						}
						&-three {
							left: 0.64em;
						}
					}
				}
				.ourapp__img-box {
					position: absolute;
					right: -20em;

					.ourapp__img {
						width: 350px;
					}
				}
			}
		}
	}

	/////
	/// History

	///TEAM

	.footer {
		.line {
			display: flex;
			position: absolute;
			justify-content: center;
			align-items: center;
			width: 80vw;
			grid-row: 2/3;
			grid-column: 1/4;
			max-width: 1500px;
		}

		&__bottom-text {
			grid-row: 2/3;
			position: absolute;
			padding-bottom: 0;
			margin-top: 3em;
			right: 0;
		}

		&__boxes {
			// max-width: 1500px;
			display: grid;

			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;

			align-items: center;

			.footer__box {
				.footer__box-text {
					margin-top: 0.5em;
				}
				width: auto;

				margin-top: 4em;

				text-align: left;
				&-text {
					.icons {
						a {
						}
					}
				}

				&-one {
					margin: 0;
					padding: 0;
					grid-column: 1/2;
					font-size: 1.3rem;
					// width: 28vw;
					width: 350px;
					.footer__box-name {
						margin-top: 2em;
						justify-content: start;
						align-items: start;
						position: relative;
					}
					.footer__box-text {
						font-size: 1rem;
					}
				}
				&-two {
					top: 23%;
					margin-top: 0;
					grid-column: 2/3;
					position: absolute;
					right: 0;
					margin-right: 0;
				}
				&-three {
					width: fit-content;
					position: absolute;
					right: 0;
					margin-top: 0;
					top: 23%;
					margin-right: 0;
					grid-column: 3/4;
				}
			}
		}
	}
	.history {
		flex-direction: row-reverse;
		display: flex;
		justify-content: center;
		align-items: center;

		margin-bottom: 10em;
		padding: 0;

		width: 100vw;

		.history__text-box {
			.history__text-text {
				margin-top: 0.5em;
				font-size: 2rem;
				width: 670px;
			}
			.history__text-main {
			}
		}

		&__text {
			padding: 0;

			flex-direction: row-reverse;
			&-title {
				width: fit-content;
			}
			&-main {
				margin-left: -8.8em;
				font-size: 3.5rem;
				text-align: left;
				width: fit-content;

				left: 0;
			}
			&-underline {
				position: relative;

				width: 110px;
				height: 2px;
				margin-left: -2.5em;
				margin-top: -1em;
			}
			&-text {
				text-align: left;
			}
			.history__img-box {
				margin-right: 4em;

				.history__img {
					width: 400px;
				}
			}
		}
	}
}
@media (min-width: 1540px) {
	.footer {
		.line {
			display: flex;
			position: absolute;
			justify-content: center;
			align-items: center;
			width: 80vw;
			grid-row: 2/3;
			grid-column: 1/4;
			max-width: 1500px;
			margin-top: -4em;
		}

		&__bottom-text {
			grid-row: 2/3;
			position: absolute;
			padding-bottom: 0;
			margin-top: 2em;
			right: 0;
			font-size: 1.8rem;
		}

		&__boxes {
			// max-width: 1500px;
			display: grid;

			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;

			align-items: center;

			.footer__box {
				.footer__box-text {
					margin-top: 0.5em;
					.icons {
						img {
							width: 30px;
						}
					}
				}
				width: auto;

				margin-top: 4em;

				text-align: left;
				&-text {
					.icons {
						a {
						}
					}
				}

				&-one {
					margin: 0;
					padding: 0;
					grid-column: 1/2;
					font-size: 1.8rem;
					// width: 28vw;
					width: 470px;
					.footer__box-name {
						margin-top: 2em;
						justify-content: start;
						align-items: start;
						position: relative;
						font-size: 3.6rem;
					}
				}
				&-two {
					top: 23%;
					margin-top: 0;
					grid-column: 2/3;
					position: absolute;
					right: 0;
					margin-right: 0;
					.footer__box-name {
						font-size: 2.6rem;
					}
					.footer__box-text {
						font-size: 1.8rem;
					}
				}
				&-three {
					width: fit-content;
					position: absolute;
					right: 0;
					margin-top: 0;
					top: 23%;
					margin-right: 0;
					grid-column: 3/4;
					.footer__box-name {
						font-size: 2.6rem;
					}
				}
			}
		}
	}
}
//

@media (min-width: 922px) {
	.team {
		margin-top: 12em;

		&__text {
			&-main {
				font-size: 3.5rem;
			}
			&-underline {
				width: 120px;
				height: 2px;
			}
			&-text {
				font-size: 2rem;
				padding: 0 8em 0 8em;
				width: 1100px;
			}
		}

		&__boxes {
			flex-direction: row;
			margin-bottom: 2em;
			.team__box {
				justify-content: start;
				align-items: start;

				&-name {
					margin: 1em 0 1em 0.7em;
					padding: 0 0.5em 0 0.5em;
				}
				&-text {
					margin-left: 1em;
				}
			}
		}
	}

	@media (max-width: 1150px) {
		.team {
			&__boxes {
				.team__box {
					// justify-content: center;
					// align-items: center;

					&-one {
						order: 5;
					}
					&-two {
						order: 2;
					}
					&-three {
						order: 3;
					}
					&-name {
						// margin-left: 0;
					}
					&-text {
						// margin-left: 0;
					}
				}
			}
		}
	}

	//1150
	@media (max-width: 920px) {
		.team {
			&__boxes {
				.team__box {
					&-one {
						order: 1;
					}
					&-two {
						order: 2;
					}
					&-three {
						order: 3;
					}
				}
			}
		}
	}

	@media (max-width: 1200px) {
		.navigation {
			.company-name {
				.name {
					margin-left: 3em;
				}
			}
		}
	}

	@media (min-width: 1600px) {
		section {
			.ourapp {
				&__gradient {
					// margin-left: -4%;
					.ourapp__text-box {
						h3 {
							.ourapp__main-text {
							}
						}
						.ourapp__text {
						}

						.ourapp__list {
							span {
							}
							.fa-solid {
							}
						}
					}

					.ourapp__img-box {
						.ourapp__img {
						}
					}
				}
			}
		}
	}
}
