@media (max-width: 380px) {
	.navigation-box {
		height: 55px;
		.navigation {
			height: 55px;
			.burger-btn {
				transform: scale(70%);
				margin: 0;
				padding: 0;
				padding-right: 2em;
				margin-top: -0.7em;
			}
			.company-name {
				a {
					font-size: 0.8rem;
				}
				.name {
					font-size: 2rem;
				}
			}
			.nav {
				&-mobile {
					.name {
						margin-top: 1em;
						font-size: 1.8rem;
					}
					.icons {
						img {
							width: 30px;
						}
					}
					.nav__link {
						font-size: 1.8rem;
						&--four {
							width: 150px;
							height: 40px;
						}
					}
				}
			}
		}
	}

	.header {
		.container {
			width: 80vw;
			&__main-text {
				margin-top: -1em;
				transform: scale(70%);
				.container__text {
					width: 500px;
					font-size: 1.8rem;
					transform: scale(70%);
				}
				.container__btn {
					transform: scale(80%);
					margin-left: -7em;
					font-size: 1.5rem;
					margin-top: 0.8em;
				}
			}
			.container__img {
				margin-top: -8em;
				margin-bottom: -4em;
				transform: scale(70%);
			}
		}
	}

	.main {
		margin-top: -3em;
		margin-bottom: -8em;
		.aboutus {
			&__text-box {
				margin-bottom: 0;

				p {
					transform: scale(70%);
				}
			}
			&__main-text {
				font-size: 2.3rem;
				transform: scale(80%);
			}
			&__underline {
				width: 60px;
			}
			&__text {
				margin-top: 0.5em;
			}
			&__icons-box {
				margin-top: -5em;
				transform: scale(70%);
			}
		}
	}
	//////OURAPP section
	///
	section {
		.ourapp {
			margin-top: -6em;
			&__gradient {
				width: 80vw;
				.ourapp__img-box {
					margin-top: -14em;
					transform: scale(70%);
					margin-bottom: -7em;
				}
				.ourapp__text-box {
					margin-top: -8em;
					transform: scale(70%);

					.nb {
						&-one {
							left: 0.64em;
						}

						&-two {
							top: 0.25em;
							left: 0.53em;
						}
						&-three {
							left: 0.53em;
						}
					}	
				}
			}
		}
	}

	///////history
	///

	.history {
		margin-top: -3em;
		margin-bottom: 4em;
		&__text {
			transform: scale(80%);
			&-box {
				.history__text-text {
					margin-top: -1em;
					transform: scale(80%);
				}
			}
			&-main {
				transform: scale(80%);
			}
			.history__img-box {
				margin-top: 0;
				transform: scale(85%);
			}
		}
	}

	.team {
		margin-top: -6em;
		&__text {
			transform: scale(80%);

			&-main {
				transform: scale(80%);
			}
			&-text {
				transform: scale(80%);
			}
		}
		&__boxes {
			margin-top: -25em;
			margin-bottom: -20em;
			transform: scale(60%);
		}
	}

	.footer {
		margin-top: -4em;
		&__boxes {
			.footer__box {
				transform: scale(70%);
				&-one {
					margin-left: -4.5em;
					margin-bottom: -1.5em;
				}
				&-two {
					margin-bottom: -1.5em;
					margin-left: -5em;
				}
				&-three {
					margin-left: -3em;
				}
			}
		}
	}
}

@media (max-width: 370px) {
	.team {
		margin-top: -6em;
		&__text {
			transform: scale(80%);
			&-main {
				width: 300px;
				font-size: 2.8rem;
				transform: scale(80%);
			}
			&-text {
				transform: scale(80%);
			}
		}
		&__boxes {
			margin-top: -22em;
			margin-bottom: -20em;
			transform: scale(60%);
			margin-right: 8em;
			.team__box {
				&-three {
					margin-left: 0;
				}
				&-img {
					width: 100px;
				}
			}
		}
	}
}

@media (max-width: 290px) {
	.navigation-box {
		height: 55px;
		.navigation {
			height: 55px;
			.burger-btn {
				transform: scale(70%);
				margin: 0;
				padding: 0;
				padding-right: 2em;
				margin-top: -0.7em;
			}
			.company-name {
				a {
					font-size: 0.8rem;
				}
			}
			.nav {
				&-mobile {
					.name {
						margin-top: 1em;
						font-size: 1.8rem;
					}
					.icons {
						img {
							width: 30px;
						}
					}
					.nav__link {
						font-size: 1.8rem;
						&--four {
							width: 150px;
							height: 40px;
						}
					}
				}
			}
		}
	}
	.header {
		.container {
			&__main-text {
				margin-top: -1em;
				transform: scale(65%);
				width: 300px;
				h2 {
					font-size: 2.3rem;
				}
				.container__text {
					font-size: 1.3rem;
					margin-top: 1em;
					margin-bottom: 1em;
					width: 390px;
					margin-left: -3.5em;
					transform: scale(90%);
				}
				.container__btn {
					transform: scale(80%);
					margin-left: -6.5em;
				}
			}
			.container__img {
				margin-bottom: -6em;
			}
		}
	}

	.main {
		margin-bottom: 0;
		.aboutus {
			&__text-box {
				margin-bottom: 0;
				p {
					transform: scale(70%);
				}
			}
			&__main-text {
				transform: scale(80%);
			}
			&__underline {
				width: 60px;
			}
			&__icons-box {
				margin-top: -5em;
				transform: scale(70%);
			}
		}
	}
	//////OURAPP section
	///
	section {
		.ourapp {
			margin-top: -10em;
			&__gradient {
				margin-top: -7em;
				.ourapp__img-box {
					transform: scale(65%);
					margin-top: -18em;
					margin-bottom: -8em;
				}
				.ourapp__text-box {
					margin-top: -10em;
					transform: scale(65%);
				}
			}
		}
	}

	///////history
	///

	.history {
		margin-top: -8em;
		margin-bottom: -6em;
		&__text {
			transform: scale(80%);
			&-box {
				margin-top: 2em;
				.history__text-text {
					margin-top: -1em;
					transform: scale(80%);
				}
			}
			&-main {
				transform: scale(80%);
			}
			.history__img-box {
				transform: scale(70%);

				.history__img {
					margin-top: -2em;
				}
			}
		}
	}

	.footer {
		margin-top: -4em;

		&__boxes {
			.footer__box {
				transform: scale(70%);
				&-one {
					margin-left: -5em;
					margin-bottom: -1.5em;
				}
				&-two {
					margin-bottom: -1.5em;
					margin-left: -4em;
				}
				&-three {
					margin-left: -2.5em;
				}
			}
		}
	}
}
