/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  overflow: visible;
  z-index: 100;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.navigation-box {
  height: 100px;
}
.navigation-box .navigation {
  position: relative;
  position: fixed;
  background-color: #fff;
  height: 75px;
  width: 100vw;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: rgba(17, 17, 26, 0.057) 0px 3px 0px;
}
.navigation-box .navigation .company-name {
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.navigation-box .navigation .company-name a {
  text-decoration: none;
}
.navigation-box .navigation .company-name .name {
  margin: 2em;
  margin-left: 1em;
  margin-right: 0;
  color: #00eeae;
}
.navigation-box .navigation .company-name .icons {
  display: none;
  position: relative;
  font-size: 1.5rem;
}
.navigation-box .navigation .company-name .icons a {
  color: black;
}
.navigation-box .navigation .company-name .icons a img {
  width: 15px;
  margin-top: 0.3em;
}
.navigation-box .navigation .company-name .line {
  display: none;
  margin: 11px;
  height: 23px;
  width: 1px;
  background-color: #c6c6c6;
  position: relative;
}
.navigation-box .navigation .nav-mobile {
  background-color: white;
  font-size: 2.3rem;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(152%);
  transition: transform 0.5s;
  z-index: 1;
}
.navigation-box .navigation .nav-mobile .nav__link {
  text-decoration: none;
  margin: 0.7em;
  color: #33363F;
  font-size: 2.8rem;
}
.navigation-box .navigation .nav-mobile .nav__link--four {
  color: #fff;
  margin: 0.3em;
  margin-left: 10px;
  height: 45px;
  width: 180px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  margin-bottom: 1em;
  border-radius: 10px;
  background: rgb(0, 238, 174);
  background: linear-gradient(90deg, rgb(0, 238, 174) 0%, rgb(129, 53, 255) 100%);
}
.navigation-box .navigation .nav-mobile--active {
  transform: translateX(0);
}
.navigation-box .navigation .nav-desktop {
  display: none;
}
.navigation-box .navigation .hamburger {
  position: fixed;
  right: 0;
  padding: 2em;
  margin: 2em;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .container {
  transform: scale(90%);
  position: relative;
  width: 90vw;
  height: auto;
  max-width: 1500px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 3em;
  flex-direction: column;
  background: rgb(0, 238, 220);
  background: linear-gradient(90deg, rgba(0, 238, 220, 0.2) 0%, rgba(129, 53, 255, 0.2) 100%);
}
.header .container__main-text {
  flex-direction: column;
  margin: 2em;
  margin-bottom: 1em;
  text-align: center;
  display: flex;
  width: 80vw;
  margin-top: 3em;
  font-size: 3.2rem;
  font-weight: bolder;
}
.header .container__main-text h2 {
  font-weight: bolder;
  color: #33363f;
}
.header .container__main-text .container__text {
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  font-weight: 200;
  margin-top: 1em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80vw;
  font-size: 1.8rem;
}
.header .container__main-text .container__btn {
  text-decoration: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  height: 45px;
  width: 185px;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  background: rgb(0, 238, 174);
  background: linear-gradient(90deg, rgb(0, 238, 174) 0%, rgb(129, 53, 255) 100%);
}
.header .container .container__img {
  margin-bottom: 4em;
  right: 0;
}

.main .aboutus {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .aboutus__text-box {
  margin: 2em;
  width: 70vw;
  font-size: 1.8rem;
  text-align: center;
}
.main .aboutus__main-text {
  font-weight: 1000;
  color: #33363f;
  font-size: 3.2rem;
  margin: 0.3em;
}
.main .aboutus__underline {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background: rgb(0, 238, 174);
  background: linear-gradient(90deg, rgb(0, 238, 174) 0%, rgb(129, 53, 255) 100%);
}
.main .aboutus__text {
  font-size: 1.8rem;
  margin: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .aboutus__icons-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .aboutus__icons-box .aboutus__icon-one img {
  width: 215px;
  height: 119px;
}
.main .aboutus__icons-box .aboutus__icon-two img {
  width: 235px;
  height: 119px;
}
.main .aboutus__icons-box .aboutus__icon-three img {
  width: 219px;
  height: 119px;
}
.main .aboutus__icon {
  margin: 2em;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .ourapp {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
section .ourapp__gradient {
  max-width: 1150px;
  margin: 2em;
  position: relative;
  width: 80vw;
  border-radius: 50px;
  padding: 3em;
  flex-direction: column;
  padding-bottom: 3em;
  background: rgb(0, 238, 220);
  background: linear-gradient(90deg, rgba(0, 238, 220, 0.2) 0%, rgba(129, 53, 255, 0.2) 100%);
}
section .ourapp__gradient .ourapp__img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .ourapp__gradient .ourapp__img-box .ourapp__img {
  width: 300px;
}
section .ourapp__gradient .ourapp__text-box {
  margin: 4em;
}
section .ourapp__gradient .ourapp__text-box .nb {
  color: #fff;
  position: absolute;
  font-size: 2rem;
  left: 0.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
section .ourapp__gradient .ourapp__text-box .nb-one {
  left: 0.53em;
}
section .ourapp__gradient .ourapp__text-box .nb-two {
  left: 0.45em;
}
section .ourapp__gradient .ourapp__text-box .nb-three {
  left: 0.45em;
}
section .ourapp__gradient .ourapp__text-box h3 {
  font-size: 3.2rem;
  font-weight: 1000;
  color: #33363f;
}
section .ourapp__gradient .ourapp__text-box .ourapp__text {
  margin-top: 2em;
  font-size: 1.6rem;
}
section .ourapp__gradient .ourapp__text-box .ourapp__list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 2em;
  margin-left: 4em;
  margin-top: 4em;
  font-size: 1.4rem;
}
section .ourapp__gradient .ourapp__text-box .ourapp__list span {
  font-size: 1.9rem;
  font-weight: 600;
}
section .ourapp__gradient .ourapp__text-box .fa-solid {
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  margin-top: 0.5em;
  font-size: 3rem;
}
section .ourapp__gradient .ourapp__text-box .fa-solid-one {
  margin-top: 1.3em;
}

.history {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 6em;
  transform: scale(90%);
}
.history__text {
  padding: 3em;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.history__text-main {
  font-size: 3.2rem;
  font-weight: 1000;
  margin-bottom: 1em;
  color: #33363f;
}
.history__text-underline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 2px;
  margin-left: 13em;
  margin-top: -0.5em;
  margin-bottom: 1em;
  background: rgb(0, 238, 174);
  background: linear-gradient(90deg, rgb(0, 238, 174) 0%, rgb(129, 53, 255) 100%);
}
.history__text-text {
  font-size: 1.8rem;
}
.history__text .history__img-box {
  margin-top: 6em;
}
.history__text .history__img-box .history__img {
  width: 380px;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: scale(85%);
}
.team__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 2em;
  margin-top: -2em;
  width: 80vw;
}
.team__text-main {
  font-size: 3.2rem;
  font-weight: 1000;
  color: #33363f;
  margin: 1em;
}
.team__text-underline {
  width: 120px;
  height: 2px;
  background: rgb(0, 238, 174);
  background: linear-gradient(90deg, rgb(0, 238, 174) 0%, rgb(129, 53, 255) 100%);
}
.team__text-text {
  margin: 2em;
  font-size: 1.8rem;
}
.team__boxes {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
}
.team__boxes .team__box {
  font-size: 1.8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
.team__boxes .team__box-text {
  color: #777777;
}
.team__boxes .team__box-name {
  font-weight: bold;
  margin-bottom: 1em;
  border: 1px solid black;
  border-radius: 50px;
  width: auto;
  margin-top: 1em;
  padding: 0.3em 0.5em;
}
.team__boxes .team__box-img {
  position: relative;
  height: 261px;
}
.team__boxes .team__box-img img {
  border-radius: 0 25px 25px 25px;
  width: 347px;
}
.team__boxes .team__box-img--icons {
  position: relative;
  top: -14em;
  width: 100px;
  left: 13.5em;
}
.team__boxes .team__box-img--icons .fa-brands {
  padding: 0.5em;
  margin-right: -0.5em;
  color: #fff;
}

.footer {
  margin-top: 8em;
  bottom: 0;
  width: 100vw;
  background-color: #333;
  padding-top: 1em;
}
.footer .line {
  display: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1px;
  background-color: #838383;
}
.footer__bottom-text {
  margin-top: 1em;
  position: relative;
  color: #777777;
  padding-bottom: 3em;
}
.footer__boxes {
  width: 80vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  text-align: center;
}
.footer__boxes .footer__box {
  text-align: center;
  margin: 2em;
  color: #fff;
  position: relative;
}
.footer__boxes .footer__box-text {
  color: #777777;
}
.footer__boxes .footer__box-text .icons {
  position: relative;
  font-size: 1.5rem;
}
.footer__boxes .footer__box-text .icons a {
  color: white;
}
.footer__boxes .footer__box-one {
  padding: 0 3em;
  color: #777777;
}
.footer__boxes .footer__box-one .footer__box-name {
  font-weight: 1000;
  font-size: 1.8rem;
  color: #fff;
}
.footer__boxes .footer__box-two .footer__box-name {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.footer__boxes .footer__box-three {
  font-size: 1.5rem;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .history .history__img-box .history__img {
    width: 90vw;
  }
  .ourapp__gradient .ourapp__img-box .ourapp__img {
    width: 90vw;
  }
}
@media (min-width: 922px) {
  .navigation-box .navigation {
    max-width: 1500px;
    left: 50%;
    transform: translateX(-50%);
  }
  .navigation-box .navigation .hamburger {
    display: none;
  }
  .navigation-box .navigation .company-name {
    margin: 2em;
  }
  .navigation-box .navigation .company-name .line {
    display: block;
  }
  .navigation-box .navigation .company-name .icons {
    display: block;
  }
  .navigation-box .navigation .nav.nav-desktop {
    right: 0;
    display: flex;
    position: absolute;
    color: white;
    margin-right: 6em;
    justify-content: center;
    align-items: center;
  }
  .navigation-box .navigation .nav.nav-desktop .nav__link {
    text-decoration: none;
    color: #33363F;
    font-size: 1.6rem;
    margin-top: 2em;
    margin: 2em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation-box .navigation .nav.nav-desktop .nav__link--four {
    color: #fff;
    margin: 0;
    margin-left: 10px;
    height: 40px;
    width: 142px;
    font-weight: 600;
    border-radius: 10px;
    background: rgb(0, 238, 174);
    background: linear-gradient(90deg, rgb(0, 238, 174) 0%, rgb(129, 53, 255) 100%);
  }
  .header .container {
    margin: 3em;
    margin-top: 0;
    height: auto;
    flex-direction: row;
  }
  .header .container__main-text {
    position: relative;
    flex-direction: column;
    margin-top: -1em;
    text-align: start;
    margin-bottom: 1.5em;
    margin-top: 2.5em;
  }
  .header .container__main-text h2 {
    font-size: 5rem;
  }
  .header .container__main-text .container__text {
    margin-top: 3em;
    width: 45vw;
    justify-content: start;
    text-align: start;
    margin-bottom: 1.5em;
  }
  .header .container__main-text .container__btn {
    left: 0;
    margin-left: 7em;
  }
  .header .container .container__img {
    position: absolute;
    margin: 5.5em;
  }
  .main .aboutus__underline {
    width: 100px;
    height: 3px;
  }
  .main .aboutus__icons-box {
    flex-direction: row;
  }
  .history {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 6em;
  }
  .history__text {
    text-align: left;
    padding: 0;
    margin-left: 10%;
    width: 40vw;
    flex-direction: row-reverse;
  }
  .history__text-main {
    justify-content: start;
    align-items: start;
    text-align: left;
  }
  .history__text-underline {
    margin-left: 9em;
  }
  .history__text-text {
    width: 60vw;
    text-align: left;
  }
  .history__text .history__img-box {
    margin-right: 4em;
  }
  .team {
    margin-top: 1em;
  }
  .team__text-text {
    font-size: 1.8rem;
    padding: 0 8em 0 8em;
  }
  .team__boxes {
    flex-direction: row;
  }
  .team__boxes .team__box {
    justify-content: start;
    align-items: start;
  }
  .team__boxes .team__box-name {
    margin: 1em 0 1em 1em;
  }
  .team__boxes .team__box-text {
    margin-left: 1em;
  }
  .footer {
    height: 15vw;
  }
  .footer .line {
    width: 80vw;
    position: absolute;
    bottom: 0;
    max-width: 1500px;
  }
  .footer__bottom-text {
    position: absolute;
    bottom: -5em;
    text-align: right;
    right: 0;
  }
  .footer__boxes {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
  }
  .footer__boxes .footer__box {
    width: 100%;
  }
  .footer__boxes .footer__box-one {
    margin-left: 0;
    padding-left: 0;
    text-align: left;
    width: 50vw;
  }
  .footer__boxes .footer__box-two {
    width: 25vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-right: 0;
  }
  .footer__boxes .footer__box-two .footer__box-name {
    width: auto;
  }
  .footer__boxes .footer__box-two .footer__box-text {
    width: auto;
  }
  .footer__boxes .footer__box-three {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    text-align: left;
    margin-right: 0;
  }
}
@media (min-width: 1300px) {
  .history {
    left: 5%;
  }
  .history__text {
    margin-left: 0;
  }
  .history__text-text {
    width: 40vw;
  }
}
@media (min-width: 1200px) {
  section {
    justify-content: start;
    align-items: start;
    position: relative;
  }
  section .ourapp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }
  section .ourapp__gradient {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4em;
    width: 70vw;
    border-radius: 50px;
    margin-left: -6%;
    padding-top: 6em;
  }
  section .ourapp__gradient .ourapp__text-box {
    margin-top: 5em;
  }
  section .ourapp__gradient .ourapp__text-box .ourapp__text {
    margin-right: 4em;
  }
  section .ourapp__gradient .ourapp__text-box .ourapp__list {
    margin-right: 4em;
  }
  section .ourapp__gradient .ourapp__img-box {
    position: absolute;
    right: -20em;
  }
  section .ourapp__gradient .ourapp__img-box .ourapp__img {
    width: 350px;
  }
}
@media (max-width: 1150px) {
  .team {
    margin-top: 1em;
  }
  .team__boxes .team__box {
    justify-content: center;
    align-items: center;
  }
  .team__boxes .team__box-one {
    order: 3;
  }
  .team__boxes .team__box-two {
    order: 2;
  }
  .team__boxes .team__boxthree {
    order: 1;
  }
  .team__boxes .team__box-name {
    margin-left: 0;
  }
  .team__boxes .team__box-text {
    margin-left: 0;
  }
}
@media (max-width: 1200px) {
  .navigation .company-name .name {
    margin-left: 3em;
  }
}
@media (min-width: 1600px) {
  section .ourapp__gradient {
    margin-left: -4%;
  }
}/*# sourceMappingURL=style.css.map */